.main-menu {
  margin-top: 5px;
}

div{
  background-color: white;
  font-family: Proxima Soft Regular;
}

.labelbold{
  background-color: white;
  font-family: Proxima Soft Bold;
  font-weight: bold;
  font-size: 10px;
}

.input{
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  /* border-radius: 5px; */
  /* border-color: gray; */
}

input:focus, input:active {
  border-color: transparent;
  border-bottom: 2px solid #1c87c9;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 0px -20px;
  list-style: none;
  height: 50px;
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 -10px;
  border-radius: 4px;
}

.pesan{
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: 5px;
  margin-left: 1%;
  margin-right: 1%;
  border: none;
  font-size: 13px;
  padding-left: 5px;
  text-align: center;
  background-color: rgb(218, 248, 214);
}

.button1 {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.select {
  text-align-last: right;
  border: none;
  cursor: pointer;
}

.columnAktivitas{
  /* float: left; */
  /* width: 25%;
  max-width: 25%; */
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.garisMenu{
  /* border: solid 1px lightgrey; */
  margin-top: 1px;
}

.iconDetails {
  margin-right:2%;
  margin-left: 2%;
  float:left; 
  height:40px;
  width:40px;	
  margin-top: -10px;
} 

.green{
  color: #22b573;
}
 
.container2 {
  margin-top: 25px;
  width:100%;
  height:auto;
  border-radius: 50%;
  /* padding:10px; */
}
 
.h4 {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-top: -10px;
}

.lgItem{
  margin-bottom: 10px;
  border-radius: 10px;
}

.lgItem:hover{
  border-color: #22b573;
  background-color: white;
}

.lgItem:active{
  background-color: white;
}



.row1 {
  margin-left: 1%;
}

.navbarmenu {
  background-color: whitesmoke;
  padding-top: 0px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}

.navbarmenu h2{
  margin-left: 2rem;
  margin-top: 0rem;
  font-size: 15px;
  background: none;
}

.activity{
  text-align: right;
  margin-right: 20px;
  width: 45%;
  background-color: whitesmoke;
}

.ppob{
  text-align: left;
  width: 45%;
  background-color: whitesmoke;
}

.navbar {
  background-color: whitesmoke;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  z-index: 1;
}

.navbar h2{
  margin-left: 1rem;
  margin-top: 0rem;
  font-size: 2rem;
  background: none;
}

.menu-barsmenu{
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: black;
}

.subtitle{
  font-size: small;
  color: darkgrey;
  margin-bottom: 4px;
}

.price{
  font-size: large;
  color: #22b573;
  font-style: bold;
}

.card1{
  padding-top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px; /* 5px rounded corners */
  margin-top: -50px;
  width:90%;
  margin-left:5%;
  margin-right:5%;
  height: auto;
}

.cardMetode{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-left: 1%;
  margin-right: 1%;
  width:98%;
  height: auto;
  border-color: #22b573;
  border: solid 1px #22b573;
}

.cart{
  margin-top: 4px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 5px;
}

.dashed{
  border-bottom: 2px dashed #707070;
}

.h5{
  margin-top: -12px;
  color: black;
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: bold;
}

.iconDetails2 {
  margin: -10px 10px 5px 15px;
  float:left; 
  height:50px;
  width:50px;	
  border: 0.5px solid rgb(223, 221, 221);
  border-radius: 50%;
} 

.iconDetailsSTruk{
  margin: 0px 10px 5px 15px;
  float:left; 
  height:50px;
  width:50px;	
  border: 0.5px solid rgb(223, 221, 221);
  border-radius: 50%;
}

.iconDetails7{
  margin: 0px 10px 5px 15px;
  float:left; 
  height:50px;
  width:50px;	
  border: 0.5px solid rgb(223, 221, 221);
  border-radius: 50%;
}

.iconDetailspay{
  margin-top: 15px;
  margin-left: 39%;
  margin-right: 40%;
  float:left; 
  height:80px;
  width:80px;	
  border: 0.5px solid rgb(223, 221, 221);
  border-radius: 50%;
  background-color: white;
}

.iconMenu {
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
  /* background-size: contain;
  border: none;
  object-fit: cover; */
} 

.figure {
  margin: 0px;
}

.column2{
  float: center;
  width: 25%;
  min-width: 25%;
  box-sizing: border-box;
  margin-bottom: 10px;
}


.iconDetails3 {
  margin: 0px 10px 5px 15px;
  float:left; 
  height:50px;
  width:50px;	
  padding: 5px 5px 5px 5px;
  border: 0.5px solid rgb(223, 221, 221);
  border-radius: 50%;
}  

.iconDetails4 {
  margin: 5px 10px 5px 5px;
  text-align: right;
  padding: 10px 10px 10px 10px;
  position: absolute;
  right: 25px;
  font-size: 15px;
}  

.title{
  color: dimgrey;
  font-size: 12px;
  width: 35%;
  float:left; 
}

.sub_title{
  color: black;
  font-size: 12px;
  font-weight: bold;
  width: 50%;
  float:left; 
}

.titleTotal{
  color: black;
  font-size: 16px;
  width: 30%;
  float:left; 
  font-weight: bold;
  margin-bottom: 4px;
}

.sub_titleTotal{
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 4px;
}

.rows{
  background-color: rgb(199, 248, 193);
  text-align: right;
  padding: 10px 25px 10px 10px;
  font-size: 20px;
  font-weight: bold;
}

.rowsBG{
  background-color:rgb(223, 221, 221);
  padding-top: 10px;
  padding-bottom: 1px;
  padding-left: 10px;
  color: #707070;
}

.rowsBGActivity{
  background-color:rgb(223, 221, 221);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  color: #707070;
}

.aktivitasklik:hover{
  background-color: white;
}

.aktivitasklik:focus{
  background-color: white;
}

.rowsAktivitas{
  background-color: rgb(223, 221, 221);
  /* padding: 10px 25px 10px 10px; */
  /* width: 78px; */
  /* height: 16px; */
  /* margin: 5px 319px 5px 15px; */
  /* font-family: ProximaSoft; */
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 0.93; */
  letter-spacing: normal;
  text-align: left;
  /* color: var(--warm-grey); */
}

.rows3{
  /* margin-bottom: 1%; */
  margin-left: 7px;
  margin-top: 1px;
  margin-right: 7px;
}

.iconDetailsMetode {
  margin-right:5%;
  float:left; 
  height:60px;
  width:70px;	
  margin-top: -20px;
} 

.nova {
  color: black;
  font-size: 50px;
  font-weight: bold;
  height:auto;
  padding:1%;
  margin-top: 15px;
}

.h6c{
  color: black;
  font-size: 14px;
  margin-left: 10px;
  margin-top: -20px;
}

.h6b{
  color: black;
  font-size: 14px;
  font-weight: bolder;
  margin-left: 10px;
  padding-bottom: 3px;
  border-radius: 50%;
}

.cardnova{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  border-bottom: blanchedalmond;
  height: 70px;
  width: 50%;
  margin-bottom: 5px;
}

.h6d{
  margin-top: -13px;
  font-size: 10px;
}

.nominalGame{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15px;
  padding: 3px 3px 3px 3px;
  width: 40%;
  height: 80px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px grey;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 11px;
}

.linkbutton{
  text-decoration: none;
  background-color: white;
  color: #22b573;
  padding: 0px 0px 0px 0px;
  border: none;
  font-weight: bold;
  text-align: left;
  width: 100px;
  /* text-decoration: underline; */
  font-size: small;
}

.linkbutton:hover{
  text-decoration: none;
  background-color: white;
  color: #22b573;
  padding: 0px 0px 0px 0px;
  border: none;
  /* text-decoration: underline; */
  font-size: small;
  outline:none;
}

.linkbutton:focus{
  outline: 0 !important;
}

.linkbuttonA{
  text-decoration: none;
  background-color: white;
  color: #22b573;
  padding: 0px 0px 0px 0px;
  border: none;
  width: 20%;
  font-weight: bold;
  text-align: right;
  /* text-decoration: underline; */
  font-size: small;
  outline:none;
}

.linkbuttonA:hover{
  text-decoration: none;
  background-color: white;
  color: #22b573;
  padding: 0px 0px 0px 0px;
  border: none;
  /* text-decoration: underline; */
  font-size: small;
}

.linkbuttonA:focus{
  outline: 0 !important;
}

.tabNav {
  width: 50%; 
}

.label {
  font-size: 12px;
  color: dimgray;
}

.struk {
  margin-top: 10px;
}

.jumbotron{
  background-color: #22b573;
  height: 100px;
  width: 100%;
  margin-bottom: 0px;
}

.garishijau{
  border: solid 1px #22b573;
  /* width:85%; */
}

.paymentBG{
  background-color: #22b573;
  height: 170px;
  width: 100%;
}

.text1{
  color: gray;
  margin-top: 10px;
  margin-left: 0px;
  width: 80%;
  float:left;
  font-size: 13px;
}

.text2{
  color: gray;
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  float: left;
  font-size: 13px;
}

.logoVa{
  width: 20%;
  float:left;
  text-align: right;
}

.iconDetails5{
  height: 55px;
  width: 55px;
  text-align: right;
  margin-top: -9px;
}

.textVA{
  float: left;
  width: 80%;
  font-size: 13px;
}

.nominalVA{
  float: left;
  width: 80%;
  color: #22b573;
  font-weight: bold;
  font-size: 13px;
}

.buttoVA{
  width: 20%;
  text-align: right;
  float:none;
}

.button2{
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  font-weight: bold;
  font-size: small;
  background-color: white;
  color: #22b573;
  border-color: #22b573;
}

.link1{
  color: #22b573;
}

.button3{
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  float: right;
  font-weight: bold;
  font-size: small;
}

.link2{
  color: white;
}

@media (min-width: 600px) {

  .navbarmenu {
    background-color: whitesmoke;
    padding-top: 0px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  }

  .text1{
    color: gray;
    margin-top: 10px;
    margin-left: 0px;
    width: 80%;
    float:left;
  }
  
  .column2{
    float: center;
    width: 25%;
    max-width: 25%;
    padding: 0px;
    /* box-sizing: border-box; */
    position: relative;
  }

  .navbarmenu h2{
    margin-left: 2rem;
    margin-top: 0rem;
    font-size: 2rem;
    background: none;
  }

  .h5{
    margin-top: -10px;
    color: black;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: bold;
  }

  .iconDetails2 {
    margin: -10px 10px 5px 15px;
    float:left; 
    height:50px;
    width:50px;	
    border: 0.5px solid rgb(223, 221, 221);
    border-radius: 50%;
  } 

  .iconDetailsSTruk{
    margin: 0px 10px 5px 15px;
    float:left; 
    height:50px;
    width:50px;	
    border: 0.5px solid rgb(223, 221, 221);
    border-radius: 50%;
  }

  .iconDetails7{
    margin: 0px 10px 5px 15px;
    float:left; 
    height:50px;
    width:50px;	
    border: 0.5px solid rgb(223, 221, 221);
    border-radius: 50%;
  }

  .iconMenu {
    max-width: 70px;
    max-height: 70px;
    min-width: 70px;
    min-height: 70px;
    /* background-size: contain; */
    border: none;
    object-fit: cover;
  } 

  .iconDetailspay{
    margin-top: 15px;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
    float:left; 
    height:80px;
    width:80px;	
    border: 0.5px solid rgb(223, 221, 221);
    border-radius: 50%;
    background-color: white;
  }

  .nominalGame{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
    padding: 3px 3px 3px 3px;
    width: 40%;
    height: 80px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px grey;
    border-radius: 5px;
    font-weight: bolder;
  }

  .h6d{
    margin-top: -10px;
    font-size: 13px;
  }

  .iconDetails4 {
    margin: 5px 10px 5px 5px;
    text-align: right;
    padding: 10px 10px 10px 10px;
    position: absolute;
    right: 25px;
    font-size: 20px;
  }  

  .iconDetails3 {
    margin: 0px 10px 5px 5px;
    float:left; 
    height:70px;
    width:70px;	
    padding: 5px 5px 5px 5px;
    border: 0.5px solid rgb(223, 221, 221);
    border-radius: 50%;
  }  

  .labelbold{
    background-color: white;
    font-family: Proxima Soft Bold;
    font-weight: bold;
    font-size: 12px;
  }

  .text2{
    color: gray;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    float: left;
  }

  .textVA{
    float: left;
    width: 80%;
  }
  
  .nominalVA{
    float: left;
    width: 80%;
    color: #22b573;
    font-weight: bold;
  }

  .title{
    color: dimgrey;
    font-size: 12px;
    width: 30%;
    float:left; 
  }
  
  .sub_title{
    color: black;
    font-size: 12px;
    font-weight: bold;
    width: 50%;
    float:left; 
  }

}