.containertab{
  width:100%;
  align-content: center;
  align-items: center;
}

.plntab{
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
  text-align: center;
  background-color: white;
  border: none;
  border-bottom: solid 1px;
  border-bottom-width: 3px;
  color: #22b573;
  outline:none;
}

.plntab-non{
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
  text-align: center;
  background-color: white;
  border: none;
  border-bottom: solid 1px;
  border-bottom-width: 3px;
  color: grey;
  outline:none;
}

.plntab:hover{
  background-color: white;
  color: #22b573;
  border-bottom: solid 1px;
  border-bottom-width: 3px;
}

.plntab-non:hover{
  background-color: white;
  color: grey;
  border-bottom: solid 1px;
  border-bottom-width: 3px;
}

.plntab:focus{
  outline: 0 !important;
}

.plntab-non:focus{
  outline: 0 !important;
}

.nominal{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15px;
  padding: 3px 3px 3px 3px;
  width: 40%;
  height: 80px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px grey;
  border-radius: 5px;
  font-weight: bolder;
}

.nominal:hover{
  border: solid 2px #22b573;
}

@media (min-width: 600px) {
  .nominal{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
    padding: 32px 57px 32px 58px;
    width: 40%;
    height: 80px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px grey;
    border-radius: 5px;
    font-weight: bolder;
  }

  .nominal:hover{
    border: solid 2px #22b573;
  }
}
