/* .navbar {
  background-color: whitesmoke;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
} */

/* .navbar div{
  background-color: whitesmoke;
}

.navbar h2{
  margin-left: 2rem;
  margin-top: 0rem;
  font-size: 2rem;
  background: none;
}

.activity{
  position: absolute;
  right: 2rem;
  color: red;
}

Link{
  color: red;
}

.menu-bars{
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: black;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 0px -20px;
  list-style: none;
  height: 50px;
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 -10px;
  border-radius: 4px;
} */

/* .nav-menu-items {
  width: 100%;
} */

/* .navbar-toggle {
  background-color: whitesmoke;
  margin-left: -40px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: -2px 3px 5px rgba(0,0,0,0.5);
} */

/* .navbar-toggle h2{
  margin-left: 20px;
} */

/* .span {
  margin-left: 20px;
} */
